{% extends 'base.html' %}

{% block content %}
<h3>{{ recipe.name }}</h3>
<h4>by {{ recipe.author }}</h4>
<ul>
    {% for ingredient in recipe.ingredients.all %}
    <li>
        {{ ingredient.ingredient.name }}: {{ ingredient.quantity }}
    </li>
    {% endfor %}
    <br>
    <a href="{% url 'ledger:add_image' recipe.id %}">
        <button>Upload an Image</button>
    </a>
    <br><br>
    {% for image in recipe.image.all %}
        <img src="{{ image.recipe_image.url }}" alt="{{ image.description }}" style="max-width: 60%;">
    {% endfor %}

</ul>
{% endblock %}